body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}
header{
    width: 100%;
    align-items: center;
}
.navSection{
    display: flex;
    flex: auto;
    justify-content: space-evenly;

}
.navObject{
    margin: 3%;
    font-size: 140%;
}
#title{
    font-size: 500%;
    text-align: center;
    color: darkblue;
}
a{
    color: darkblue;   
    text-decoration: none;
}
a:hover{
    color: red;
}
#title>a:hover{
    color: darkblue;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
}
.grid>a>img{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
