.ButtonMenu{
    display: block;
     margin-top: 9%;
    position: relative;
     width: fit-content;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

#canvas{
    border: solid black;
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 99.5%;
    margin: 0;
}